<mat-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
  [trackBy]="trackBy"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>Cases</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.total }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="deaths">
    <mat-header-cell *matHeaderCellDef>Deaths</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.deaths }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="recovered">
    <mat-header-cell *matHeaderCellDef>Recovered</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.recovered }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fetchedAt">
    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
