<mat-card>
  <mat-card-content
    style="display: flex; flex-direction: column; align-content: center;"
  >
    <h3 mat-sub-header>Global</h3>
    <mat-card-title>
      Cases:
      {{ globalStats.total | number }}
    </mat-card-title>
    <br />
    Last reported at: {{ globalStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
  </mat-card-content>
</mat-card>
<div style="margin-top: 10px; margin-bottom: 10px;">
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <h3 mat-sub-header>Global</h3>
      <mat-card-title>
        Active:
        {{ globalStats.active | number }}
        ({{ globalStats.total | percentage: globalStats.active | number }}%)
      </mat-card-title>
      <br />
      Last reported at: {{ globalStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;">
    <mat-card>
      <mat-card-content
        style="display: flex; flex-direction: column; align-content: center;"
      >
        <h3 mat-sub-header>Global</h3>
        <mat-card-title>
          Deaths:
          {{ globalStats.deaths | number }}
          ({{ globalStats.total | percentage: globalStats.deaths | number }}%)
        </mat-card-title>
        <br />
        Last reported at:
        {{ globalStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
      </mat-card-content>
    </mat-card>
    <div style="margin-top: 10px; margin-bottom: 10px;"></div>
    <mat-card>
      <mat-card-content
        style="display: flex; flex-direction: column; align-content: center;"
      >
        <h3 mat-sub-header>Global</h3>
        <mat-card-title>
          Recovered:
          {{ globalStats.recovered | number }}
          ({{
            globalStats.total | percentage: globalStats.recovered | number
          }}%)
        </mat-card-title>
        <br />
        Last reported at:
        {{ globalStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
