<mat-card>
  <mat-card-content
    style="display: flex; flex-direction: column; align-content: center;"
  >
    <h3 mat-sub-header>Active</h3>
    <mat-card-title>
      Cases:
      {{ activeCasesStats.total }}
    </mat-card-title>
    <br />
    Last reported at:
    {{ activeCasesStats.fetchedAt | date: 'dd.MM.yyyy hh:MM:ss' }}
  </mat-card-content>
</mat-card>
<div style="margin-top: 10px; margin-bottom: 10px;">
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <h3 mat-sub-header>Active</h3>
      <mat-card-title>
        Mild condition:
        {{ activeCasesStats.mild }} ({{ activeCasesStats.mild | number }}%)
      </mat-card-title>
      <br />
      Last reported at:
      {{ activeCasesStats.fetchedAt | date: 'dd.MM.yyyy hh:MM:ss' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <h3 mat-sub-header>Active</h3>
      <mat-card-title>
        Serious condition: {{ activeCasesStats.serious }} ({{
          activeCasesStats.seriousPercentage | number
        }}%)
      </mat-card-title>
      <br />
      Last reported at:
      {{ activeCasesStats.fetchedAt | date: 'dd.MM.yyyy hh:MM:ss' }}
    </mat-card-content>
  </mat-card>
</div>
