<covid19-page-loader-overlay
  [loading]="loading$ | async"
></covid19-page-loader-overlay>
<mat-tab-group
  #matTabGroup
  class="tab-custom-overflow"
  (animationDone)="animationDone(matTabGroup.selectedIndex)"
>
  <mat-tab [label]="tabLabelsFunc[0].label">
    <div class="page-content">
      <div
        class="view-options-container"
        [class.sticky]="viewOptions[0].selected"
      >
        <covid19-countries-autocomplete
          #countryAutoComplete
          [countryStats]="countryStats$ | async"
        ></covid19-countries-autocomplete>
        <div class="toggle-container" style="padding-right: 1em">
          <mat-button-toggle-group
            [multiple]="false"
            (change)="viewSelectionChanged($event)"
          >
            <mat-button-toggle
              *ngFor="let viewOption of viewOptions"
              [checked]="viewOption.selected"
              [value]="viewOption.value"
              [matTooltip]="viewOption.tooltip"
            >
              <mat-icon>{{ viewOption.label }}</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div *ngIf="viewOptions[0].selected">
        <cdk-virtual-scroll-viewport
          [itemSize]="50"
          [orientation]="'vertical'"
          class="view-port"
        >
          <div class="card-container">
            <ng-container
              *cdkVirtualFor="
                let countryStats of filteredCountryStats$ | async;
                trackBy: trackCountryStatsChanges
              "
            >
              <covid19-country-stats-card
                [countryStats]="countryStats"
                [countriesOfInterest]="countriesOfInterest"
                (addCountryOfInterest)="storeCountryOfInterest($event)"
                (removeCountryOfInterest)="removeCountryOfInterest($event)"
              ></covid19-country-stats-card>
            </ng-container>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <covid19-countries-stats-grouped-bar-chart
        *ngIf="viewOptions[1].selected"
        [countryStats]="filteredCountryStats$ | async"
      ></covid19-countries-stats-grouped-bar-chart>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[1].label">
    <covid19-countries-stats-stacked-barchart
      *ngIf="selectedIndex === 1"
      [countryStats]="countryStats$ | async"
    ></covid19-countries-stats-stacked-barchart>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[2].label">
    <covid19-country-stats-day-to-day-cards
      *ngIf="selectedIndex === 2"
      [countryStats]="countryStatsHistory$ | async"
    ></covid19-country-stats-day-to-day-cards>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[3].label">
    <div class="select-container">
      <mat-form-field>
        <mat-select
          #select
          placeholder="Chart selection"
          (selectionChange)="chartTypeSelectionChanged($event)"
          [value]="selectedBarCharType.value"
        >
          <mat-option
            *ngFor="let chartType of chartTypes"
            [value]="chartType.value"
          >
            {{ chartType.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <covid19-country-stats-daily-values-bar-chart
      *ngIf="selectedIndex === 3"
      [key]="selectedBarCharType.value"
      [yAxisLabel]="selectedBarCharType.label"
      [color]="selectedBarCharType.color"
      [countryStatsHistory]="countryStatsHistory$ | async"
    ></covid19-country-stats-daily-values-bar-chart>
  </mat-tab>
</mat-tab-group>
