@import '../../../scss/breakpoints';

:host {
  height: 100%;
  width: 100%;
}

covid19-country-detailed-stats-cards {
  width: 100%;
}

@media #{$gt-sm} {
  .page-content-container {
    display: flex;
    justify-content: space-between;
  }
}

@media #{$gt-md} {
  .view-container {
    display: flex;
    align-items: center;
  }
}

@media #{$md} {
  .view-container {
    display: flex;
    flex-flow: column;
  }
}

@media #{$xl} {
  .cards-container {
    display: flex;
    min-width: 560px;
  }

  .bar-chart-container {
    display: flex;
    justify-content: center;
    height: 500px;
    min-width: 560px;
  }

  .pie-chart-container {
    display: flex;
    justify-content: center;
    height: 500px;
    min-width: 560px;
  }
}

@media #{$lg} {
  .cards-container {
    display: flex;
    width: 360px;
  }

  .bar-chart-container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 360px;
  }

  .pie-chart-container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 360px;
  }
}

@media #{$md} {
  .bar-chart-container {
    display: flex;
    align-items: center;
    height: 500px;
    width: 400px;
  }

  .pie-chart-container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 400px;
  }
}

@media #{$sm} {
  .bar-chart-container {
    display: flex;
    align-self: center;
    height: 500px;
    width: 400px;
  }

  .pie-chart-container {
    display: flex;
    align-self: center;
    height: 500px;
    width: 400px;
  }
}

@media #{$xs} {
  .bar-chart-container {
    display: flex;
    align-self: center;
    height: 500px;
    width: 320px;
  }

  .pie-chart-container {
    display: flex;
    align-self: center;
    height: 500px;
    width: 320px;
  }
}

.graph-toggle-container {
  flex-grow: 1 0 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  align-items: center;
}

@media #{$sm} {
  .chart-container {
    display: flex;
    flex-direction: column;
  }
}

@media #{$xs} {
  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
