<covid19-page-loader-overlay
  [loading]="loading$ | async"
></covid19-page-loader-overlay>
<mat-tab-group
  #matTabGroup
  class="tab-custom-overflow"
  (animationDone)="animationDone(matTabGroup.selectedIndex)"
>
  <mat-tab [label]="tabLabelsFunc[0].label">
    <div class="page-content page-content-container">
      <div class="view-container">
        <div class="cards-container">
          <covid19-country-detailed-stats-cards
            [countryStats]="countryStats$ | async"
          ></covid19-country-detailed-stats-cards>
        </div>
        <div class="chart-container">
          <div class="bar-chart-container">
            <covid19-country-stats-bar-chart
              [countryStats]="countryStats$ | async"
            ></covid19-country-stats-bar-chart>
          </div>
          <div class="bar-chart-container">
            <covid19-country-stats-pie-chart
              [countryStats]="countryStats$ | async"
            ></covid19-country-stats-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[1].label">
    <div class="toggle-container">
      <mat-button-toggle-group
        [multiple]="false"
        (change)="viewSelectionChange($event, historyViewOptions)"
      >
        <mat-button-toggle
          *ngFor="let viewOption of historyViewOptions"
          [checked]="viewOption.selected"
          [value]="viewOption.value"
          [matTooltip]="viewOption.tooltip"
        >
          <mat-icon>{{ viewOption.label }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="page-content">
      <covid19-country-stats-day-to-day-cards
        *ngIf="historyViewOptions[0].selected || historyViewOptions[2].selected"
        [countryStatisticsVaryContainers]="countryStatisticsVary$ | async"
      ></covid19-country-stats-day-to-day-cards>

      <covid19-country-stats-history-table
        *ngIf="historyViewOptions[1].selected || historyViewOptions[2].selected"
        [countryStats]="countryHistoryStats$ | async"
      ></covid19-country-stats-history-table>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[2].label">
    <div class="graph-toggle-container">
      <mat-button-toggle-group
        [multiple]="false"
        (change)="chartSelectionChanged($event)"
      >
        <mat-button-toggle
          *ngFor="let chartOption of chartOptions"
          [checked]="chartOption.selected"
          [value]="chartOption.value"
          [matTooltip]="chartOption.tooltip"
        >
          <mat-icon>{{ chartOption.label }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field *ngIf="chartOptions[1].selected">
        <mat-select
          #select
          placeholder="Chart selection"
          (selectionChange)="chartTypeSelectionChanged($event)"
          [value]="selectedBarCharType.value"
        >
          <mat-option
            *ngFor="let chartType of chartTypes"
            [value]="chartType.value"
          >
            {{ chartType.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container *ngIf="selectedIndex === 2">
      <covid19-country-stats-line-chart
        *ngIf="chartOptions[0].selected"
        [countryStats]="countryHistoryStats$ | async"
      ></covid19-country-stats-line-chart>
      <covid19-country-stats-daily-values-bar-chart
        *ngIf="chartOptions[1].selected"
        [countryStatsHistory]="countryHistoryStats$ | async"
        [key]="selectedBarCharType.value"
        [color]="selectedBarCharType.color"
        [yAxisLabel]="selectedBarCharType.label"
      ></covid19-country-stats-daily-values-bar-chart>
    </ng-container>
  </mat-tab>
</mat-tab-group>
