<ng-container *ngIf="countryStats">
  <mat-card>
    <mat-card-title>
      Cases: {{ countryStats.totalCases | number }}
    </mat-card-title>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Active Cases: {{ countryStats.activeCases | number }} ({{
        countryStats.totalCases | percentage: countryStats.activeCases | number
      }}%)
    </mat-card-title>
    <mat-card-subtitle>
      New Cases:
      <span covid19DiffNumberColor>{{ countryStats.newCases }}</span>
    </mat-card-subtitle>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Deaths:
      {{ countryStats.totalDeaths | number }} ({{
        countryStats.totalCases | percentage: countryStats.totalDeaths | number
      }}%)
    </mat-card-title>
    <mat-card-subtitle>
      New Deaths:
      <span covid19DiffNumberColor>{{ countryStats.newDeaths }}</span>
    </mat-card-subtitle>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Recovered: {{ countryStats.recoveredCases | number }} ({{
        countryStats.totalCases
          | percentage: countryStats.recoveredCases
          | number
      }}%)
    </mat-card-title>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
</ng-container>
