@import '../../../scss/breakpoints';

.map-container {
  display: flex;
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  zoom: 1;
}

@media #{$lt-md} {
  .map-container {
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 1000px;
    zoom: 2;
  }

  .map-sizer {
    width: 1000px;
  }
}

@media #{$lt-xl} {
  .map-sizer {
    width: 1160px;
    overflow: hidden;
  }
}

@media #{$gt-lg} {
  .map-sizer {
    width: 1860px;
    overflow: hidden;
  }
}
