<mat-card>
  <mat-card-title>
    {{ countryStats.country }}
  </mat-card-title>
  <mat-card-content>
    Total cases: {{ countryStats.totalCases | number }}
    <br />
    Active cases: {{ countryStats.activeCases | number }}
    <br />
    New cases: {{ countryStats.newCases | number }}
    <br />
    Recovered cases: {{ countryStats.recoveredCases | number }}
    <br />
    Serious cases: {{ countryStats.seriousCases | number }}
    <br />
    Total deaths: {{ countryStats.totalDeaths | number }}
    <br />
    New deaths: {{ countryStats.newDeaths | number }}
    <br />
    Last changed: {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
  </mat-card-content>
</mat-card>
