<mat-card>
  <mat-card-title>
    {{ countryStats.country }}
  </mat-card-title>
  <mat-card-content>
    Total cases: {{ countryStats.totalCases | number }}
    <br />
    Active cases: {{ countryStats.activeCases | number }}
    <br />
    New cases: {{ countryStats.newCases | number }}
    <br />
    Recovered cases: {{ countryStats.recoveredCases | number }}
    <br />
    Serious cases: {{ countryStats.seriousCases | number }}
    <br />
    Total deaths: {{ countryStats.totalDeaths | number }}
    <br />
    New deaths: {{ countryStats.newDeaths | number }}
    <br />
    Last changed: {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
  </mat-card-content>
  <mat-card-actions align="end">
    <ng-container
      *ngIf="containsCountry(countryStats.country); then remove; else add"
    ></ng-container>
    <ng-template #add>
      <button
        *ngIf="countriesOfInterest"
        mat-button
        (click)="addCountryOfInterest.emit()"
      >
        <mat-icon>visibility</mat-icon>
        Add to countries of interest
      </button>
    </ng-template>

    <ng-template #remove>
      <button
        *ngIf="countriesOfInterest"
        mat-button
        (click)="removeCountryOfInterest.emit()"
      >
        <mat-icon>visibility_off</mat-icon>
        Remove from countries of interest
      </button>
    </ng-template>
    <button mat-button [routerLink]="countryStats.country">
      Show details
    </button>
  </mat-card-actions>
</mat-card>
