<ng-container *ngIf="countryStats">
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        Cases: {{ countryStats.totalCases | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        Active Cases: {{ countryStats.activeCases | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        New Cases: {{ countryStats.newCases | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        Deaths:
        {{ countryStats.totalDeaths | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        New Deaths:
        {{ countryStats.newDeaths | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        Recovered: {{ countryStats.recoveredCases | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 10px; margin-bottom: 10px;"></div>
  <mat-card>
    <mat-card-content
      style="display: flex; flex-direction: column; align-content: center;"
    >
      <mat-card-title>
        Serious condition:
        {{ countryStats.seriousCases | number }}
      </mat-card-title>
      <br />
      Last reported at:
      {{ countryStats.fetchedAt | date: 'dd.MM.yyyy HH:mm' }}
    </mat-card-content>
  </mat-card>
</ng-container>
