<covid19-page-loader-overlay
  [loading]="loading$ | async"
></covid19-page-loader-overlay>
<mat-tab-group
  #matTabGroup
  (animationDone)="animationDone(matTabGroup.selectedIndex)"
  class="tab-custom-overflow"
>
  <mat-tab [label]="tabLabelsFunc[0].label">
    <div class="page-content">
      <covid19-global-stats-card
        *ngIf="globalStats$ | async"
        [globalStats]="globalStats$ | async"
        (refresh)="loadGlobalStats()"
      ></covid19-global-stats-card>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[1].label">
    <div class="page-content">
      <covid19-global-stats-history-table
        [globalStats]="globalStatsHistory$ | async"
      ></covid19-global-stats-history-table>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[2].label">
    <covid19-global-stats-history-line-chart
      [globalStats]="globalStatsDayHistory$ | async"
    ></covid19-global-stats-history-line-chart>
  </mat-tab>
</mat-tab-group>
