.start-sidenav {
  width: 160px;
}

.end-sidenav {
  width: 250px;
}

.sidenav-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 599px) {
  .sidenav-container {
    width: 100%;
    height: calc(100% - 56px);
    z-index: 100;
  }
}

@media screen and (min-width: 600px) {
  .sidenav-container {
    width: 100%;
    height: calc(100% - 64px);
  }
}
