<covid19-toolbar
  [title]="title$ | async"
  (toggle)="toggleSidenav()"
></covid19-toolbar>
<mat-sidenav-container
  class="main-sidenav-container"
  (backdropClick)="toggleSidenav()"
>
  <mat-sidenav
    [mode]="mode"
    [opened]="showSidenav"
    [fixedInViewport]="fixedInViewport"
    [fixedTopGap]="layoutGap"
    [autoFocus]="false"
  >
    <covid19-sidenav-content
      [countriesOfInterest]="countriesOfInterest$ | async"
      (linkClicked)="toggleSidenavBasedOnSize()"
    ></covid19-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
