@use '~@angular/material' as mat;
$deeppurple-amber-light-primary: mat.define-palette(mat.$deep-purple-palette);
$deeppurple-amber-light-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$deeppurple-amber-light: mat.define-light-theme(
  $deeppurple-amber-light-primary,
  $deeppurple-amber-light-accent
);
