@use '~@angular/material' as mat;
$grey-light-primary: mat.define-palette(mat.$blue-grey-palette);
$grey-light-accent: mat.define-palette(mat.$deep-orange-palette, A700);

$grey-light-warn: mat.define-palette(mat.$red-palette);

$grey-light-theme: mat.define-light-theme(
  $grey-light-primary,
  $grey-light-accent,
  $grey-light-warn
);
