@import '~@angular/material/theming';

@mixin country-stats-history-table-component-theme($theme) {
  $background-palette: map-get($theme, background);
  $background: map-get($background-palette, background);

  .no-background-table {
    box-shadow: none;
    background: none;
  }

  .colored-header-row {
    background: $background !important;
  }
}
