<mat-card *ngIf="countryStats">
  <div class="header-container">
    <img class="country-image" [src]="countryStats | countryFlag: '64'" />
    <mat-card-title>
      {{ countryStats.country }}
    </mat-card-title>
  </div>
  <mat-card-content>
    <div class="value-container">
      <mat-chip-list
        class="mat-chip-list-stacked"
        [selectable]="false"
        aria-label="Color selection"
      >
        <mat-chip [style.background]="colorScheme[0]">
          Total: {{ countryStats.totalCases | number }}
        </mat-chip>
        <mat-chip [style.background]="colorScheme[1]">
          Active: {{ countryStats.activeCases | number }} ({{
            countryStats.totalCases
              | percentage: countryStats.activeCases
              | number
          }}%)
        </mat-chip>
        <mat-chip [style.background]="colorScheme[2]">
          New: {{ countryStats.newCases | number }}
        </mat-chip>
        <mat-chip [style.background]="colorScheme[3]">
          Deaths: {{ countryStats.totalDeaths | number }} ({{
            countryStats.totalCases
              | percentage: countryStats.totalDeaths
              | number
          }}%)
        </mat-chip>
        <mat-chip [style.background]="colorScheme[4]">
          New Deaths: {{ countryStats.newDeaths | number }}
        </mat-chip>
        <mat-chip [style.background]="colorScheme[5]">
          Recovered: {{ countryStats.recoveredCases | number }} ({{
            countryStats.totalCases
              | percentage: countryStats.recoveredCases
              | number
          }}%)
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <ng-container
      *ngIf="containsCountry(countryStats.country); then remove; else add"
    ></ng-container>
    <ng-template #add>
      <button mat-button (click)="addCountryOfInterest.emit(countryStats)">
        <mat-icon>visibility</mat-icon>
        Add to list
      </button>
    </ng-template>

    <ng-template #remove>
      <button mat-button (click)="removeCountryOfInterest.emit(countryStats)">
        <mat-icon>visibility_off</mat-icon>
        Remove from list
      </button>
    </ng-template>
    <button mat-button [routerLink]="countryStats.country">Show details</button>
  </mat-card-actions>
</mat-card>
