<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let country of selectedCountries"
      selectable
      removeable
      (removed)="remove(country)"
    >
      <img
        [src]="getCountryStatistics(country) | countryFlag"
        style="height: 16px; width: 16px"
      />
      &nbsp;
      {{ country }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Type to select countries... "
      #countryInput
      [formControl]="countriesCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <cdk-virtual-scroll-viewport
      class="view-port"
      [style.height.px]="
        calculateDropDownHeightPx((filteredCountries$ | async)?.length)
      "
      [itemSize]="48"
      [minBufferPx]="200"
      [orientation]="'vertical'"
    >
      <mat-option
        *cdkVirtualFor="let country of filteredCountries$ | async"
        [value]="country"
      >
        <div class="auto-complete-option">
          <img
            [src]="getCountryStatistics(country) | countryFlag"
            style="height: 32px; width: 32px"
          />
          &nbsp;
          {{ country }}
        </div>
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-autocomplete>
</mat-form-field>
