<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let country of selectedCountries"
      selectable
      removeable
      (removed)="remove(country)"
    >
      <img
        [src]="getCountryStatistics(country) | countryFlag: '16'"
        style="height: 16px"
      />
      &nbsp;
      {{ country }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Select countries... "
      #countryInput
      [formControl]="countriesCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option
      *ngFor="let country of filteredCountries$ | async"
      [value]="country"
    >
      <div class="auto-complete-option">
        <img
          [src]="getCountryStatistics(country) | countryFlag: '32'"
          style="height: 32px"
        />
        &nbsp;
        {{ country }}
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
