mat-form-field {
  width: 98%;
  padding: 0.5em 0em 0em 1em;
}

.auto-complete-option {
  display: flex;
  align-items: center;
}

.view-port {
  width: 100%;
}

.view-port::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
