.header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.country-image {
  height: 64px;
  padding-right: 0.5em;
}

.value-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  justify-content: center;
  align-self: center;
}
