@use '~@angular/material' as mat;

.grid {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: 100%;
}

.block {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.country-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: auto;
  justify-content: space-around;
}

.country-image {
  height: 32px;
  padding-right: 16px;
  width: 32px;
}

/* CDK Drag START */

.cdk-drag-preview {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  background-color: #424242;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

/* CDK Drag END */

@mixin sidenav-content-component-theme($theme) {
  $foreground-palette: map-get($theme, foreground);
  $default-color: mat.get-color-from-palette($foreground-palette, base);

  $accent: map-get(
    $map: $theme,
    $key: accent,
  );

  .selected-link {
    border-left: 0.5em solid mat.get-color-from-palette($accent);
  }

  .version {
    margin-top: auto;
    color: darken($default-color, $amount: 30);
    display: flex;
    justify-content: center;
    font-size: small;
  }
}
