<covid19-page-loading-indicator
  [loading]="loading$ | async"
></covid19-page-loading-indicator>
<mat-tab-group
  #matTabGroup
  class="tab-custom-overflow"
  (animationDone)="animationDone(matTabGroup.selectedIndex)"
>
  <mat-tab [label]="tabLabelsFunc[0].label">
    <div class="page-content">
      <covid19-countries-autocomplete
        #countryAutoComplete
        [countryStats]="countryStats$ | async"
      ></covid19-countries-autocomplete>
      <div style="margin-top: 5px;"></div>
      <div class="card-container">
        <ng-container
          *ngFor="
            let countryStats of filteredCountryStats$ | async;
            trackBy: trackCountryStatsChanges
          "
        >
          <covid19-country-stats-card
            [countryStats]="countryStats"
            [countriesOfInterest]="countriesOfInterest$ | async"
          ></covid19-country-stats-card>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[1].label">
    <covid19-countries-stats-history-stacked-barchart
      [countryStats]="countryStats$ | async"
    ></covid19-countries-stats-history-stacked-barchart>
  </mat-tab>
</mat-tab-group>
