@import '../../../scss/breakpoints';

.sticky-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 100;
  background: #424242;
  // background: #303030;
  padding: 0px 10px 0px 10px;
}

mat-form-field {
  width: 100%;
}

// $xs: 'screen and (max-width: 599px)';
// $sm: 'screen and (min-width: 600px) and (max-width: 959px)';
// $md: 'screen and (min-width: 960px) and (max-width: 1279px)';
// $lg: 'screen and (min-width: 1280px) and (max-width: 1919px)';
// $xl: 'screen and (min-width: 1920px) and (max-width: 5000px)';

// $lt-sm: 'screen and (max-width: 599px)';
// $lt-md: 'screen and (max-width: 959px)';
// $lt-lg: 'screen and (max-width: 1279px)';
// $lt-xl: 'screen and (max-width: 1919px)';

// $gt-xs: 'screen and (min-width: 600px)';
// $gt-sm: 'screen and (min-width: 960px)';
// $gt-md: 'screen and (min-width: 1280px)';
// $gt-lg: 'screen and (min-width: 1920px)';

mat-card {
  max-height: 370px;
}

@media #{gt-xs} {
  mat-card {
    max-height: 320px;
  }
}

@media #{gt-sm} {
  mat-card {
    max-height: 270px;
  }
}

@media #{gt-md} {
  mat-card {
    max-height: 270px;
  }
}

.virtual-scroll-container {
  height: 500px;
}

covid19-country-stats-pie-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 100%;
}

@media #{$xs} {
  .card-container {
    flex-flow: column;
    justify-content: center;
  }

  mat-card {
    width: auto;
    margin-bottom: 5px;
  }

  covid19-country-stats-pie-chart {
    height: 250px;
  }
}

@media #{$sm} {
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  mat-card {
    width: 44%;
    margin-bottom: 5px;
  }

  covid19-country-stats-pie-chart {
    height: 200px;
  }
}

@media #{$md} {
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  mat-card {
    width: 29%;
    margin-bottom: 5px;
  }
}

@media #{$lg} {
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  mat-card {
    width: 30%;
    margin-bottom: 5px;
  }
}
