@import '../../../scss/breakpoints';

/*
  General
*/
:host {
  width: 100%;
  height: 100%;
}

.sticky-container {
  position: sticky;
  top: 0px;
  z-index: 100;
  background: #424242;
  padding: 0px 10px 0px 10px;
}

.select-container {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  margin: 10px;
}

mat-form-field {
  width: 60%;
}

/*
  Overview
*/
mat-card {
  max-height: 370px;
}

.card-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

covid19-country-stats-card {
  width: 33%;
  margin-bottom: 5px;
}

@media #{$xs} {
  covid19-country-stats-card {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media #{$sm} {
  covid19-country-stats-card {
    width: 49.5%;
    margin-bottom: 5px;
  }
}

@media #{$md} {
  covid19-country-stats-card {
    width: 33%;
    margin-bottom: 5px;
  }
}
