<covid19-page-loading-indicator
  [loading]="loading$ | async"
></covid19-page-loading-indicator>
<mat-tab-group
  #matTabGroup
  mat-stretch-tabs
  class="tab-custom-overflow"
  (animationDone)="animationDone(matTabGroup.selectedIndex)"
>
  <mat-tab [label]="tabLabelsFunc[0].label">
    <div class="page-content">
      <covid19-country-autocomplete
        #countryAutoComplete
        [countryStats]="countryStats$ | async"
      ></covid19-country-autocomplete>
      <div style="margin-top: 5px;"></div>
      <ng-container
        *ngFor="
          let countryStats of filteredCountryStats$ | async;
          let last = last
        "
        [trackBy]="trackCountryStatsChanges"
      >
        <covid19-country-card
          [countryStats]="countryStats"
          [countriesOfInterest]="countriesOfInterest$ | async"
          (addCountryOfInterest)="storeCountryOfInterest(countryStats.country)"
          (removeCountryOfInterest)="
            removeCountryOfInterest(countryStats.country)
          "
        ></covid19-country-card>
        <div *ngIf="!last" style="margin-top: 10px; margin-bottom: 10px;"></div>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[1].label">
    <covid19-country-stats-history-stacked-barchart
      [countryStats]="countryStats$ | async"
    ></covid19-country-stats-history-stacked-barchart>
  </mat-tab>
</mat-tab-group>
