<covid19-page-loader-overlay
  [loading]="loading$ | async"
></covid19-page-loader-overlay>
<mat-tab-group
  #matTabGroup
  class="tab-custom-overflow"
  (animationDone)="animationDone(matTabGroup.selectedIndex)"
>
  <mat-tab [label]="tabLabelsFunc[0].label">
    <div class="page-content">
      <covid19-countries-autocomplete
        #countryAutoComplete
        [countryStats]="countryStats$ | async"
      ></covid19-countries-autocomplete>
      <div style="margin-top: 5px;"></div>
      <div class="card-container">
        <ng-container
          *ngFor="
            let countryStats of filteredCountryStats$ | async;
            trackBy: trackCountryStatsChanges
          "
        >
          <covid19-country-stats-card
            [countryStats]="countryStats"
            [countriesOfInterest]="countriesOfInterest$ | async"
            (addCountryOfInterest)="storeCountryOfInterest($event)"
            (removeCountryOfInterest)="removeCountryOfInterest($event)"
          ></covid19-country-stats-card>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[1].label">
    <covid19-countries-stats-stacked-barchart
      [countryStats]="countryStats$ | async"
    ></covid19-countries-stats-stacked-barchart>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[2].label">
    <covid19-countries-stats-daily-activecases-barchart
      *ngIf="selectedIndex === 2"
      [countryStatsHistory]="countryStatsHistory$ | async"
    ></covid19-countries-stats-daily-activecases-barchart>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[3].label">
    <covid19-countries-stats-daily-deaths-barchart
      *ngIf="selectedIndex === 3"
      [countryStatsHistory]="countryStatsHistory$ | async"
    ></covid19-countries-stats-daily-deaths-barchart>
  </mat-tab>
  <mat-tab [label]="tabLabelsFunc[4].label">
    <covid19-countries-stats-daily-recoveredcases-barchart
      *ngIf="selectedIndex === 4"
      [countryStatsHistory]="countryStatsHistory$ | async"
    ></covid19-countries-stats-daily-recoveredcases-barchart>
  </mat-tab>
</mat-tab-group>
