@import '../../../scss/breakpoints';

:host {
  width: 100%;
  height: 100%;
}

.sticky-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 100;
  background: #424242;
  // background: #303030;
  padding: 0px 10px 0px 10px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  max-height: 370px;
}

@media #{gt-xs} {
  mat-card {
    max-height: 320px;
  }
}

@media #{gt-sm} {
  mat-card {
    max-height: 270px;
  }
}

@media #{gt-md} {
  mat-card {
    max-height: 270px;
  }
}

.virtual-scroll-container {
  height: 1500px;
}

.virtual-scroll-container::-webkit-scrollbar {
  width: 0 !important;
}

.virtual-scroll-container {
  overflow: -moz-scrollbars-none;
}
.virtual-scroll-container {
  -ms-overflow-style: none;
}

covid19-country-stats-pie-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 100%;
}

@media #{$xs} {
  .card-container {
    flex-flow: column;
    justify-content: center;
  }

  mat-card {
    flex: 1 1 100%;
    margin-bottom: 5px;
  }

  covid19-country-stats-pie-chart {
    height: 250px;
  }
}

@media #{$sm} {
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  mat-card {
    width: 44%;
    margin-bottom: 5px;
  }

  covid19-country-stats-pie-chart {
    height: 200px;
  }
}

@media #{$md} {
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  mat-card {
    width: 29%;
    margin-bottom: 5px;
  }
}

@media #{$lg} {
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  mat-card {
    width: 30%;
    margin-bottom: 5px;
  }
}
