@import '@angular/material/prebuilt-themes/purple-green.css';
@import './scss/breakpoints.scss';

html,
body {
  height: 100%;
}

html {
  font: {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }
}

body {
  margin: 0px;
}

.page-content {
  padding: 16px;
}

@media #{ $xs } {
  .page-content {
    padding: 0px;
  }

  .page-content-pad-xs {
    padding: 8px;
  }
}

.tab-custom-overflow .mat-tab-body-wrapper {
  overflow: visible !important;
}
.tab-custom-overflow .mat-tab-body-active {
  overflow: visible !important;
}
.tab-custom-overflow .mat-tab-body-content {
  overflow: visible !important;
}

covid19-country-stats-history-stacked-barchart,
covid19-country-stats-line-chart,
covid19-global-stats-history-line-chart,
covid19-active-cases-stats-history-line-chart,
covid19-closed-cases-stats-history-line-chart .ngx-charts {
  text {
    fill: #fff !important;
  }
  font: {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }
}
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  font: {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }
}
