.component-loader-container {
  position: relative;
  width: 100%;
}

.component-loader-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.component-loader-overlay-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.component-loader-overlay-message-container {
  margin-top: 10%;
  z-index: 1000;
}
