<mat-nav-list>
  <h4 mat-subheader>Statistics</h4>
  <mat-list-item routerLink="/stats/global">
    <mat-icon mat-list-icon>schedule</mat-icon>
    <h4 mat-line>Global</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/cases/active">
    <mat-icon mat-list-icon>schedule</mat-icon>
    <h4 mat-line>Active cases</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/cases/closed">
    <mat-icon mat-list-icon>schedule</mat-icon>
    <h4 mat-line>Closed cases</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>schedule</mat-icon>
    <h4 mat-line>Countries</h4>
  </mat-list-item>
</mat-nav-list>
